tbody {
  background: rgba(160, 160, 160, 0.3);
  border-radius: 0 0 20px 20px;
  box-sizing: content-box;
  color: rgb(233, 233, 233);
  font-weight: 900;
  margin-top: 0.5%;
  overflow-x: auto;
  text-align: center;
  vertical-align: center;
  width: 100%;
}

tbody tr:hover {
  background-color: rgba(200, 0, 0, 0.5);
}

table td {
  line-height: 10px;
  overflow: hidden;
}
